* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body {
    overflow-x: hidden;
    width: 100%;
} */

.stick {
    position: sticky;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .icon2, .icon3 {
    height: 46px;
    margin-right: 10px;

} */

.icon2 {
    height: 26px;
    margin-bottom: 10px;
}
.icon3 {
    height: 46px;
    margin-top: 10px;
}


.click {
    margin-top: 26px;
    width: fit-content;
}

.readmore {
    margin-left: 380px;
    width: 80px;
    margin-top: -16px;
    margin-right: 42px;
    font-size: 13px;
}

.readmore:hover {
    cursor: pointer;
    color: #116dff;
}

.edit {
    height: 40px;
    width: 160px;
    border-radius: 25px;
    background-color: #116dff;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
}

.navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 72px;
    /* z-index: 999; */
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
}

.navbar div {
    font-size: 20px;
}

.navbar div:hover {
    color: gray;
}

.one {
    margin-left: 0;
}

.six {
    display: flex;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-icon {
    margin-right: 5px;
    font-size: 18px;
}
.bg{
    background-image: url("https://static.wixstatic.com/media/11062b_40a304aeb9034bc187226c259aaa4ca3f000.jpg/v1/fill/w_1519,h_710,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/11062b_40a304aeb9034bc187226c259aaa4ca3f000.jpg");
    background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

.bg img {
    width: 100vw;
    height: 100vh;
}

.top1 a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10px;
    margin-right: 500px;
    margin-left: 50px;
}
.top2{
    margin-left: 80px;
}
.slide{
    /* background: transparent; */

}
.slide span{
    color: rgb(0, 0, 0);
}

/* Responsive Design */
@media (max-width: 768px) {
    .stick {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        flex-direction: column;
        /* height: auto; */
    }

    .navbar div {
        /* margin: 10px 0; */
    }

    .click, .readmore, .edit {
        margin-top: 10px;
    }
}
